<h2>Reset Password</h2>
<div class="contact-form">
<%= form_for(:user) do |f| %>
  <div>
    <%= f.label :new_password %><br />
    <%= f.password_field :password %>
  </div>
 <div>
    <%= f.label :confirm_new_password %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit " reset password"%>
  </div>
<% end %>
